//colors
$main-color: #3c5280;
$sub-color: gray;
$title-color: #ebf0fa;
$text-color: #fff;

//fonts
$title: "Zen Kurenaido", sans-serif;
$text: "Poiret One", cursive;

//vars
$title-size:36px;
$text-size: 18px;